__pycache__
test
.ipynb_checkpoints
data/
output/
models/
pat.txt
pytorch_tests/
jax_tests/
.DS_Store
.vscode
*.ipynb
*.pdf


# CMake build directory
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Compiled binaries
*.o
*.obj
*.so
*.dll
*.exe
.cache
